{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Bootstrap Website
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>    
    </head>
    <body>

            
            <div class="row">
              {% for message in messages %}
                  <center>
                  <h5> 
                  <b style="color:green;">{{ message }}</b>
                  </h5>
                  </center>
              {% endfor %}
          </div>

            <div class="col-md-12">
              <div class="col-md-3">
                  <img src="{% static "images/logo.jpg" %}" style="height:200px;width:100%;"/>              
              </div><!-- logo div close -->
              
              <div class="col-md-9">
  
                <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
                  <div class="container">
                    <div class="row d-flex align-items-stretch no-gutters">
                      <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
                        <form action="ContactUs" method="POST" name="Contact_form">
                          {% csrf_token %}
                  <!-- Cross-Site Request Forgery (CSRF) is an attack that forces authenticated users to submit a request to a Web application against which they are currently authenticated.
                  CSRF Token used to prevent unathorized person could not submit form from your website-->
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Name" name="name" required>
                          </div>
                          <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Email" name="email">
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Contact No." name="phone">
                          </div>
                          <div class="form-group">
                            <textarea name="address" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                          </div>
                          <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-primary py-3 px-5" name="submit">
                          </div>
                        </form>
                      </div>
                      <div class="col-md-6 d-flex align-items-stretch">
                        <div id="map"></div>
                      </div>
                    </div>
                  </div>
                </section>
                
              </div>

            </div><!-- Section or Outer div close -->

            

      </div><!-- Container div close -->
    </body>
</html>

{% endblock %}